<div class='createaccount'><h1>Sign Up it will always be free!</h1>


<%= form_for @user do |f| %>

Firstname:<%= f.text_field :fname %><br>
Lastname:<%= f.text_field :lname %><br>
Username:<%= f.text_field :username %><br>
Password:<%= f.text_field :password %><br>
<%= f.submit %>
<% end %>

<%= @something %>

</div>
